<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <link th:href="@{/css/main.css}" rel="stylesheet" />
        <title>LOGIN</title>
    </head>
    <body>

        <form class="loginForm" th:action="@{/login}" method="post">

            <table>
                <tr>
                    <div class="error" th:if="${param.error}">
                        Invalid username and password.
                    </div>
                    <div class="error" th:if="${param.logout}">
                        You have been logged out.
                    </div>
                </tr>
                <tr>
                    <td>EMail :</td>
                    <td><input type="text" name="username" /></td>
                </tr>
                <tr>
                    <td>Password: </td>
                    <td><input type="password" name="password" /></td>
                </tr>

                <tr>
                    <td></td>
                    <td><input type="submit" value="Sign In"/></td>
                    <td><a th:href="@{/registration}"><img title="Registration" class="reg" th:src="@{/images/reg.png}"></a></td>
                </tr>
            </table>

        </form>

    </body>
</html>